:root {
  --green: rgba(116, 179, 154, 1);
  --grey: rgba(243, 243, 243, 1);
  --dark: rgba(25, 26, 35, 1);
  --black: rgba(0, 0, 0, 1);
  --p-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --p-font-weight: 400;
  --p-font-size: 18px;
  --p-letter-spacing: 0px;
  --p-line-height: normal;
  --p-font-style: normal;
  --h-4-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h-4-font-weight: 500;
  --h-4-font-size: 20px;
  --h-4-letter-spacing: 0px;
  --h-4-line-height: normal;
  --h-4-font-style: normal;
  --h-1-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h-1-font-weight: 500;
  --h-1-font-size: 60px;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: normal;
  --h-1-font-style: normal;
  --h-2-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h-2-font-weight: 500;
  --h-2-font-size: 40px;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: normal;
  --h-2-font-style: normal;
  --h-3-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h-3-font-weight: 500;
  --h-3-font-size: 30px;
  --h-3-letter-spacing: 0px;
  --h-3-line-height: normal;
  --h-3-font-style: normal;
  --h1-mob-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h1-mob-font-weight: 500;
  --h1-mob-font-size: 43px;
  --h1-mob-letter-spacing: 0px;
  --h1-mob-line-height: normal;
  --h1-mob-font-style: normal;
  --h2-mob-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h2-mob-font-weight: 500;
  --h2-mob-font-size: 36px;
  --h2-mob-letter-spacing: 0px;
  --h2-mob-line-height: normal;
  --h2-mob-font-style: normal;
  --h3-mob-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h3-mob-font-weight: 500;
  --h3-mob-font-size: 26px;
  --h3-mob-letter-spacing: 0px;
  --h3-mob-line-height: normal;
  --h3-mob-font-style: normal;
  --h4-mob-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --h4-mob-font-weight: 500;
  --h4-mob-font-size: 18px;
  --h4-mob-letter-spacing: 0px;
  --h4-mob-line-height: normal;
  --h4-mob-font-style: normal;
  --p-mob-font-family: "Pretendard", Pretendard, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  --p-mob-font-weight: 400;
  --p-mob-font-size: 16px;
  --p-mob-letter-spacing: 0px;
  --p-mob-line-height: 24px;
  --p-mob-font-style: normal;
}
